* {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.bg-purple {
  background: #233a95;
}

@media (min-width: 1300px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px !important;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.headerWrapper .bg-purple .p-text {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  color: #fff;
  padding: 8px 0px;
  font-size: 12px;
  font-weight: 700;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 30px 40px;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .CountryDrop {
  width: 170px;
  height: 50px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 10px !important;
}

.headerWrapper .header .part2 .CountryDrop {
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .CountryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .CountryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700 !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .CountryDrop span.ml-auto svg {
  opacity: 0.7;
}

.headerSearch {
  width: 60%;
  height: 50px;
  /* background: #f3f4f7; */
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 25px;
  border: 0px !important;
  padding: 0px 20px !important;
}

.headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.headerSearch button {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
}

.headerSearch button svg {
  font-size: 18px;
  opacity: 0.8;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 50px !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part3 .circle svg {
  font-size: 20px;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f;
}

.cartTab .price {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.cartTab .count {
  position: absolute;
  top: -5px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 25px;
  height: 25px;
  right: -6px;
}

nav .navpart1 {
  max-width: 20% !important;
  flex: 0 0 20% !important;
}

nav .navpart2 {
  max-width: 80% !important;
  flex: 0 0 80% !important;
}

nav .allatTab {
  background: #2bbef9;
  padding: 10px 15px !important;
  border-radius: 30px !important;
}

nav .allatTab * {
  color: #fff;
}

nav .allatTab:hover {
  background: #2bbef9;
}

nav .allatTab .text {
  font-weight: 600;
  font-size: 13px;
}

nav .allatTab .icon1 svg {
  font-size: 20px;
}

nav .allatTab .icon2 svg {
  font-size: 25px;
}

nav .navpart2 ul {
  margin-bottom: 0px !important;
}

nav .navpart2 ul li a {
  text-decoration: none;
}

nav .navpart2 ul li a button {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 8px;
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
}

nav .navpart2 ul li a svg {
  font-size: 15px;
}

nav .navpart2 ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}


.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.locationModal .countryList li {
  width: 100%;
  list-style: none;

}

.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 10px 20px;
}

.locationModal .close_ {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.locationModal .close_ svg {
  font-size: 22px;
}